$bg-color: #171d25;
$font-color: #fff;
$link-hover-color: #c3d7ef;
$content-bg-color: #fff;
$content-shadow-color: #000;
$content-topper-bg-color: #2a3340;
$content-topper-shadow-color: #171d25;
$content-text-color: #485463;
$content-menu-bg-color: #1d242e;
$home-topper-text-color: #bbb;
$home-topper-link-color: #586371;
$home-banner-hover-bg-color: #3498db;
$home-banner-hover-text-color: #fff;
$home-bg-color: '#f7f8fa';
$news-bg-color: #1d242e;