$font-color: #ffffff;
$white: #ffffff;
$bg-color: #171d25;
$dark-gray: #1d242e;
$light-blue: #c3d7ef;
$black: #000;
$blue: #14bfff;
$red: #cc0033;
$width: 926px;
$topper-height: 110px;

body {
    color: $font-color;
    background-color: $bg-color;
}

a {
    color: $font-color;
    &:hover {
        color: $light-blue;
    }
}

.header {
    width: 100%;
    height: $topper-height;
    padding-top: 30px;
    font-size: 16px;
    font-weight: bold;
    .nav {
        width: $width;
        margin: 0 auto;
        .logo {
            img {
                height: 80px;
            }
        }

        .block {
            display: block;
        }

        .lang, .menus {
            text-align: right;
            line-height: 30px;
            &>* {
                display: inline-block;
                vertical-align: middle;
            }
        }

        ul.menus {
            &>li + li {
                &:before {
                    content: "";
                    display: inline-block;
                    vertical-align: middle;
                    width: 1px;
                    height: 17px;
                    background-color: $font-color;
                    margin: 14px 10px;
                }
            }
        }

        ul.lang {
            &>li + li {
                margin-left: 10px;
            }
        }
    }
}

.footer {
    width: $width;
    margin: 0 auto;
    margin-bottom: 25px;
    color: $light-blue;
    font-size: 12px;
    text-align: left;
}

.container {
    width: $width;
    margin: 0 auto;
    margin-top: 14px;
    .main-header {
        width: 100%;
        height: 50px;
        line-height: 50px;
        text-align: right;
        padding: 0 20px;
        font-size: 24px;
        font-weight: bold;
        background-color: #2a3340;
        margin-bottom: 1px;
        @include box-shadow(0, -1px, 1px, #2a3340);
    }

    .content {
        &>* {
            display: inline-block;
            vertical-align: top;
        }
        .tabs-nav {
            background-color: $dark-gray;
            width: 20%;
            font-size: 18px;
            font-weight: bold;
            @include box-shadow(1px, 1px, 1px, $dark-gray);
            &>* {
                display: block;
                width: 100%;
                padding: 0 20px;
                line-height: 50px;
                height: 50px;
                &:hover {
                    background-color: $white;
                    a, a:hover {
                        color: #485463;
                    }
                }
            }
        }

        .tabs-main {
            background-color: $white;
            color: #485463;
            width: 80%;
            .artical {
                padding: 28px;
                @include box-shadow(1px, 1px, 1px, #fff);
            }
        }
    }
}
