@import "color";

body {
    color: $font-color;
    background-color: $bg-color;
}

a {
    color: $font-color;
    &:hover {
        color: $link-hover-color;
    }
}

h2 {
    font-size: 19px;
    font-weight: bold;
    margin-bottom: 30px;
}

h3 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 20px;
}

.header {
    width: 100%;
    height: 110px;
    padding-top: 30px;
    font-size: 16px;
    font-weight: bold;
    .nav {
        width: 926px;
        margin: 0 auto;
        .logo {
            img {
                height: 80px;
            }
        }

        .block {
            display: block;
        }

        .lang, .menus {
            text-align: right;
            line-height: 30px;
            &>* {
                display: inline-block;
                vertical-align: middle;
            }
        }

        ul.menus {
            &>li + li {
                &:before {
                    content: "";
                    display: inline-block;
                    vertical-align: middle;
                    width: 1px;
                    height: 17px;
                    background-color: $font-color;
                    margin: 14px 10px;
                }
            }
        }

        ul.lang {
            &>li + li {
                margin-left: 10px;
            }
        }
    }
}

.footer {
    width: 926px;
    margin: 0 auto;
    margin-bottom: 25px;
    color: $font-color;
    font-size: 12px;
    text-align: left;
}

.container {
    width: 926px;
    margin: 0 auto;
    margin-top: 14px;
    .main-header {
        width: 100%;
        height: 50px;
        line-height: 50px;
        text-align: right;
        padding: 0 20px;
        font-size: 24px;
        font-weight: bold;
        background-color: $content-topper-bg-color;
        margin-bottom: 1px;
        @include box-shadow(0, -1px, 1px, $content-topper-shadow-color);
    }

    .block {
        display: table;
        table-layout: fixed;
        border: none;
        border-collapse: collapse;
        &>* {
            display: table-cell;
            overflow: hidden;
            whitespace: pre-wrap;
            vertical-align: top;
            @include box-shadow(3px, 3px, 1px, $content-shadow-color);
        }
        &>*:last-child {
            border-left: 5px solid transparent;
        }
        .big {
            width: 685px;
            img {
                max-width: 685px;
            }
        }
        .small {
            width: 236px;
            img {
                max-width: 236px;
            }
        }
    }

    .artical {
        width: 100%;
        min-height: 400px;
        padding: 28px;
        color: $content-text-color;
        background-color: $content-bg-color;
        @include box-shadow(3px, 3px, 1px, $content-shadow-color);

        h2 {
            font-weight: bold;
            font-size: 20px;
            margin-bottom: 25px;
        }

        h3 {
            font-weight: bold;
            font-size: 18px;
        }

        p.native {
            margin-bottom: 30px;
        }

        .indent {
            margin-left: 30px;
        }
    }

    .tabs-content {
        &>* {
            display: inline-block;
            vertical-align: top;
        }

        .artical {
            display: none;
            &.active {
                display: block;
            }
        }

        .tabs-nav {
            background-color: $content-menu-bg-color;
            width: 228px;
            font-size: 14px;
            font-weight: bold;
            @include box-shadow(1px, 1px, 1px, $content-shadow-color);
            &>* {
                display: block;
                width: 100%;
                border-right: 2px solid $bg-color;
                cursor: pointer;
                a {
                    color: $content-bg-color;
                }
                &:hover, &.active {
                    background-color: $content-bg-color;
                    border-right: 2px solid $content-bg-color;
                    a, a:hover {
                        color: $content-text-color;
                    }
                }

                &>a {
                    padding: 15px 20px;
                    display: inline-block;
                }
            }
        }

        .tabs-main {
            width: 698px;
        }
    }
}

.home {
    #slides {
        height: 70px;
        font-size: 14px;
        color: $home-topper-text-color;
    }

    .slide-item {
        .wrap {
            width: 100%;
            height: 70px;
            display: table-cell;
            vertical-align: middle;
        }
    }

    .content {
        white-space: pre-wrap;
        font-size: 28px;
        font-weight: normal;
        margin-right: 10px;
    }

    .quote {
        font-style: italic;
    }

    .desc {
        font-size: 14px;
        margin-bottom: 30px;
    }

    .banners {
        cursor: pointer;
        overflow: hidden;
        margin-bottom: 30px;
        img {
            width: 308px;
        }
        .banner {
            float: left;
            position: relative;
            .info {
                position: absolute;
                top: 50%;
                left: 50%;
                width: 0;
                height: 0;
                background-color: $home-banner-hover-bg-color;
                opacity: 0.9;
                overflow: hidden;
                text-align: center;
                line-height: 190px;
                .inner {
                    width: 100%;
                    height: 100%;
                    font-size: 26px;
                    font-weight: bold;
                }
                a, a:hover {
                    color: $home-banner-hover-text-color;
                }
            }
        }
    }
}

.news {
    .title-block {
        .big {
            padding: 15px 20px;
            h2 {
                margin-bottom: 20px;
            }
        }
    }

    .news-item {
        margin-top: 5px;
        padding: 10px 20px;
        overflow: hidden;
        background-color: $news-bg-color;
        cursor: pointer;
        @include box-shadow(3px, 3px, 1px, $content-shadow-color);
        .left {
            width: 240px;
            img {
                width: 240px;
            }
        }
        .right {
            width: 646px;
            padding-left: 15px;
        }
    }
}

.pagination {
    margin-top: 20px;
    &>* {
        display: inline;
        padding: 5px;
        margin: 5px;
        background-color: $content-bg-color;
        @include border-left-radius(5px);
        @include border-right-radius(5px);
        a {
            color: $content-text-color;
        }
        &:hover {
            a {
                color: $link-hover-color;
            }
        }
        &.current {
            background: transparent;
            color: $font-color;
        }
    }
}

.row {
    width: 100%;
    display: block;
    @include clearfix;
    .col-8 {
        padding: 5px;
        float: left;
        width: 66.6%;
    }
    .col-6 {
        padding: 5px;
        float: left;
        width: 50%;
    }
    .col-4 {
        padding: 5px;
        float: left;
        width: 33.3%;
    }
    .col-3 {
        padding: 5px;
        float: left;
        width: 25%;
    }
}

.p-t {
    padding-top: 10px;
}

.p-b {
    padding-bottom: 10px;
}

.p-2b {
    padding-bottom: 20px;
}

#map {
    width: 560px;
    height: 300px;
    @include border-left-radius(5px);
    @include border-right-radius(5px);
}

.center {
    display: block;
    margin: 0 auto;
}

.about {
    .row {
        margin-bottom: 50px;
        img {
            @include box-shadow(2px, 2px, 2px, $content-shadow-color);
            width: 500px;
        }
        .desc, .img {
            display: inline-block;
            vertical-align: middle;
        }
        .img {
            width: 560px;
            &.first {
                padding-right: 60px;
            }
            &.second {
                padding-left: 60px;
            }
        }
        .desc {
            width: 310px;
        }
    }
}

.solutions {
    .videos {
        padding-top: 30px;
        .various {
            color: #fff;
            position: relative;
            display: inline-block;
            &:hover {
                color: #fff;
            }
            &:before {
                content: "\f144";
                font-family: "FontAwesome";
                font-size: 80px;
                position: absolute;
                top: 50%;
                left: 50%;
                margin-left: -40px;
                margin-top: -40px;
            }
        }
        img {
            width: 204px;
        }
    }
    img {
        width: 100%;
    }

    .artical ul {
        li {
            padding: 10px 0 10px 10px;
            font-style: italic;
            &:before {
                content: "-";
                display: inline-block;
                margin-right: 5px;
            }
        }
    }
}

.hidden {
    display: none;
}