$font-color: #ffffff;
$white: #ffffff;
$bg-color: #171d25;
$dark-gray: #1d242e;
$light-blue: #c3d7ef;
$black: #000;
$blue: #14bfff;
$red: #cc0033;
$width: 926px;
$topper-height: 110px;

body {
    color: $font-color;
    background-color: $bg-color;
}

a {
    color: $font-color;
    &:hover {
        color: $light-blue;
    }
}

h2 {
    font-size: 19px;
    font-weight: bold;
    margin-bottom: 30px;
}

h3 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 20px;
}

.header {
    width: 100%;
    height: $topper-height;
    padding-top: 30px;
    font-size: 16px;
    font-weight: bold;
    .nav {
        width: $width;
        margin: 0 auto;
        .logo {
            img {
                height: 80px;
            }
        }

        .block {
            display: block;
        }

        .lang, .menus {
            text-align: right;
            line-height: 30px;
            &>* {
                display: inline-block;
                vertical-align: middle;
            }
        }

        ul.menus {
            &>li + li {
                &:before {
                    content: "";
                    display: inline-block;
                    vertical-align: middle;
                    width: 1px;
                    height: 17px;
                    background-color: $font-color;
                    margin: 14px 10px;
                }
            }
        }

        ul.lang {
            &>li + li {
                margin-left: 10px;
            }
        }
    }
}

.footer {
    width: $width;
    margin: 0 auto;
    margin-bottom: 25px;
    color: $light-blue;
    font-size: 12px;
    text-align: left;
}

.container {
    width: $width;
    margin: 0 auto;
    margin-top: 14px;
    .main-header {
        width: 100%;
        height: 50px;
        line-height: 50px;
        text-align: right;
        padding: 0 20px;
        font-size: 24px;
        font-weight: bold;
        background-color: #2a3340;
        margin-bottom: 1px;
        @include box-shadow(0, -1px, 1px, #171d25);
    }

    .block {
        display: table;
        table-layout: fixed;
        border: none;
        border-collapse: collapse;
        &>* {
            display: table-cell;
            overflow: hidden;
            whitespace: pre-wrap;
            vertical-align: top;
            @include box-shadow(3px, 3px, 1px, #111);
        }
        &>*:last-child {
            border-left: 5px solid transparent;
        }
        .big {
            width: 685px;
            img {
                max-width: 685px;
            }
        }
        .small {
            width: 236px;
            img {
                max-width: 236px;
            }
        }
        .gray {
            background-color: #2a3340;
        }
        .light {
            background-color: $white;
        }
    }

    .artical {
        width: 100%;
        min-height: 400px;
        padding: 28px;
        color: #485463;
        background-color: $white;
        @include box-shadow(3px, 3px, 1px, $black);

        h2 {
            font-weight: bold;
            font-size: 20px;
            margin-bottom: 25px;
        }

        h3 {
            font-weight: bold;
            font-size: 18px;
        }

        p.native {
            margin-bottom: 30px;
        }

        .indent {
            margin-left: 30px;
        }
    }

    .tabs-content {
        &>* {
            display: inline-block;
            vertical-align: top;
        }

        .artical {
            display: none;
            &.active {
                display: block;
            }
        }

        .tabs-nav {
            background-color: $dark-gray;
            width: 228px;
            font-size: 14px;
            font-weight: bold;
            @include box-shadow(1px, 1px, 1px, $dark-gray);
            &>* {
                display: block;
                width: 100%;
                border-right: 2px solid $bg-color;
                cursor: pointer;
                &:hover, &.active {
                    background-color: $white;
                    border-right: 2px solid $white;
                    a, a:hover {
                        color: #485463;
                    }
                }

                &>a {
                    padding: 15px 20px;
                    display: inline-block;
                }
            }
        }

        .tabs-main {
            width: 698px;
        }
    }
}

.home {
    #slides {
        font-size: 28px;
        font-weight: normal;
        color: #bbb;
    }

    .desc {
        font-size: 14px;
        margin-bottom: 30px;
        a {
            color: #586371;
            i {
                margin-left: 5px;
            }
        }
    }

    .banners {
        overflow: hidden;
        margin-bottom: 30px;
        img {
            width: 308px;
        }
        .banner {
            float: left;
            position: relative;
            .info {
                position: absolute;
                top: 50%;
                left: 50%;
                width: 0;
                height: 0;
                background-color: rgba(52, 152, 219, 0.9);
                overflow: hidden;
                .inner {
                    padding: 10px;
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }

    .services {
        margin-bottom: 20px;
        .item {
            display: inline-block;
            width: 300px;
            height: 150px;
            &:hover {
                &>.header {
                    background-color: #3498db;
                }
            }
            &>.header {
                width: 20%;
                height: 100%;
                display: inline-block;
                background-color: #2f353c;
            }
            &>.content {
                width: 80%;
                height: 100%;
                display: inline-block;
                background-color: #282d33;
            }
        }

        .item + .item {
            margin-left: 13px;
        }
    }

    .swiper-container {
        width: 685px;
        height: 514px;
    }
    .small {
        padding: 12px 15px;
        .content {
            font-size: 14px;
            line-height: 29px;
        }
    }
}

.news {
    .title-block {
        .big {
            padding: 15px 20px;
            h2 {
                margin-bottom: 20px;
            }
        }
    }

    .news-item {
        margin-top: 5px;
        padding: 10px 20px;
        overflow: hidden;
        background-color: #1d242e;
        cursor: pointer;
        @include box-shadow(3px, 3px, 1px, #111);
        .left {
            width: 240px;
            img {
                width: 240px;
            }
        }
        .right {
            width: 646px;
            padding-left: 15px;
        }
    }
}

.pagination {
    margin-top: 20px;
    &>* {
        display: inline;
        padding: 5px;
        margin: 5px;
        background-color: $white;
        @include border-left-radius(5px);
        @include border-right-radius(5px);
        a {
            color: #485463;
        }
        &:hover {
            a {
                color: $light-blue;
            }
        }
        &.current {
            background: transparent;
            color: #fff;
        }
    }
}

.row {
    width: 100%;
    display: block;
    @include clearfix;
    .col-8 {
        padding: 5px;
        float: left;
        width: 66.6%;
    }
    .col-6 {
        padding: 5px;
        float: left;
        width: 50%;
    }
    .col-4 {
        padding: 5px;
        float: left;
        width: 33.3%;
    }
    .col-3 {
        padding: 5px;
        float: left;
        width: 25%;
    }
}

.p-t {
    padding-top: 10px;
}

.p-b {
    padding-bottom: 10px;
}

.p-2b {
    padding-bottom: 20px;
}

#map {
    width: 560px;
    height: 300px;
    @include border-left-radius(5px);
    @include border-right-radius(5px);
}

.center {
    display: block;
    margin: 0 auto;
}

.about {
    .row {
        margin-bottom: 50px;
        img {
            @include box-shadow(2px, 2px, 2px, #171d25);
            width: 500px;
        }
        .desc, .img {
            display: inline-block;
            vertical-align: middle;
        }
        .img {
            width: 560px;
            &.first {
                padding-right: 60px;
            }
            &.second {
                padding-left: 60px;
            }
        }
        .desc {
            width: 310px;
        }
    }
}

.solutions {
    .videos {
        padding-top: 30px;
        .various {
            position: relative;
            display: inline-block;
            &:hover {
                color: #eee;
            }
            &:before {
                content: "\f144";
                font-family: "FontAwesome";
                font-size: 80px;
                position: absolute;
                top: 50%;
                left: 50%;
                margin-left: -40px;
                margin-top: -40px;
            }
        }
        img {
            width: 204px;
        }
    }
    img {
        width: 100%;
    }

    .artical ul {
        li {
            padding: 10px 0 10px 10px;
            font-style: italic;
            &:before {
                content: "-";
                display: inline-block;
                margin-right: 5px;
            }
        }
    }
}

.hidden {
    display: none;
}